COMPRESS_API_KEY=
# AGENT_SYSTEM_PROMPT=
COMPRESS_APPEND_META_FOOTER=true
COMPRESS_V2_URL=https://compress.lightreach.io/api/v2/complete
COMPRESS_OPENAI_BASE_URL=https://api.compress.lightreach.io/v1
COMPRESS_USE_OPENAI_COMPAT=0
COMPRESS_MODEL=lightreach
COMPRESS_DESIRED_HLE=25
COMPRESS_COMPRESS=true
COMPRESS_LLM_PROVIDER=
COMPRESS_REQUEST_TIMEOUT=120
COMPRESS_TAG_TEAM=platform
COMPRESS_TAG_ENVIRONMENT=development
COMPRESS_TAG_FEATURE=idun-agent
